﻿@model WebApplication6.Data.Employees
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (Model == null)
{
    <h4>Kayıt Bulunamadı!</h4>
}
else
{
    @Model.FirstName @Model.LastName
}


<p>Use this area to provide additional information.</p>
